<html>
    <head>
        <title>Guitar Chords Videos</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    
    <body class="guitarType">
        <div class="nav">
            <ul>
                <a href="select.html"><li>Instrument</li></a>
                <a href="guitar.html"><li>Type of learning</li></a>
                <a href="select.html"><li id="logout">Logout</li></a>
            </ul>
        </div>
        <div class="gType">
            <h1>Videos</h1><br>
            <div class="video">
                <h2>20 Chords Every REAL Guitar Player Needs To Know</h2>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/6Z527fYwN5c" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br>
                <h3>Author: <a href="https://www.youtube.com/channel/UCP1ZfPYU0cjhXXnuxlLVhqQ" target="_blank">GuitarLessons</a></h3>
                <h3><a href="https://www.facebook.com/guitareoofficial/" target="_blank">Facebook</a><br>
                <a href="https://www.instagram.com/guitareoofficial/" target="_blank">Instagram</a><br></h3>
                <h2>Comment</h2>
            </div>
            <br><br>
            <div class="video">
                <h2>Learn 100 Guitar Chords in 8 Minutes</h2>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/_LV-WpHGmL8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br>
                <h3>Author: <a href="https://www.youtube.com/channel/UCzZCiVjRPPDCpP5l7HIGRtA" target="_blank">Sean Daniel</a></h3>
                <h3><a href="https://twitter.com/SeanDanielMusic" target="_blank">Twitter</a><br>
                <a href="https://www.instagram.com/sean_daniel_music/" target="_blank">Instagram</a><br></h3>
                <h2>Comment</h2>
            </div>
        </div>
    </body>
</html>