<html>
    <head>
        <title>Guitar Notes Videos</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    
    <body class="guitarType">
        <div class="nav">
            <ul>
                <a href="select.html"><li>Instrument</li></a>
                <a href="guitar.html"><li>Type of learning</li></a>
                <a href="select.html"><li id="logout">Logout</li></a>
            </ul>
        </div>
        <div class="gType">
            <h1>Videos</h1><br>
            <div class="video">
                <h2>Notes On The Guitar For Beginners</h2>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/Abrd0c92xRE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br>
                <h3>Author: <a href="https://www.youtube.com/channel/UCBNkm8o5LiEVLxO8w0p2sfQ" target="_blank">JustinGuitar</a></h3>
                <h3><a href="https://www.justinguitar.com" target="_blank">Website</a></h3>
                <h3><a href="http://bit.ly/jgtr-facebook" target="_blank">Facebook</a><br>
                <a href="http://bit.ly/jgtr-instagram" target="_blank">Instagram</a><br>
                <a href="http://bit.ly/jgtr-twitter" target="_blank">Twitter</a></h3>
                <h2>Comment</h2>
            </div>
        </div>
    </body>
</html>