<html>
    <head>
        <title>Guitar Scales</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    
    <body class="guitarType">
        <div class="nav">
            <ul>
                <a href="select.html"><li>Instrument</li></a>
                <a href="guitar.html"><li>Type of learning</li></a>
                <a href="select.html"><li id="logout">Logout</li></a>
            </ul>
        </div>
        <div class="gType">
            <h1>Scales</h1><br>
            <h3>Melodic Minor & Minor Pentatonic</h3>
            <img src="guitarScales1.jpg" style="width: 50%"><br><br>
            <h3>Major & Major Pentatonic</h3>
            <img src="guitarScales2.jpg" style="width: 50%"><br><br>
            <h3>‘The Blues Scale’</h3>
            <img src="guitarScales3.jpg" style="width: 50%"><br><br>
            <h3>Dorian</h3>
            <img src="guitarScales4.jpg" style="width: 50%"><br><br>
            <h3>Mixolydian</h3>
            <img src="guitarScales5.jpg" style="width: 50%"><br><br>
            <h4>Read more about it <a href="https://marshall.com/live-for-music/making-music-with-marshall/part-six-common-guitar-scales?languageCode=ru" target="_blank">HERE</a></h4><br>
            <h1><a href="gScalesVid.html">Check for available videos</a></h1>
        </div>
    </body>
</html>