<html>
    <head>
        <title>Guitar Notes</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    
    <body class="guitarType">
        <div class="nav">
            <ul>
                <a href="select.html"><li>Instrument</li></a>
                <a href="guitar.html"><li>Type of learning</li></a>
                <a href="select.html"><li id="logout">Logout</li></a>
            </ul>
        </div>
        <div class="gType">
            <h1>Notes</h1><br>
            <img src="guitarNotes2.jpg" style="width: 50%">
            <h4><a href="https://slideplayer.com/slide/14573418/" target="_blank">Source</a></h4><br><br>
            <img src="guitarNotes1.jpg" style="width: 60%">
            <h4>Read more about it <a href="https://playguitarnotes.com/beginners/guitar-notes-chart/" target="_blank">HERE</a></h4><br>
            <h1><a href="gNotesVid.html">Check for available videos</a></h1>
        </div>
    </body>
</html>