<html>
    <head>
        <title>Choose an instrument</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    
    <body class="index">
        <h1 class="indexSelect">Select your instrument and start learning now!</h1><br><br>
        <div class="indexRow">
            <div class="indexColumn">
                <a href="piano.html"><img src="piano.png" alt="Piano"></a>
                <h2><b>Piano</b></h2>
            </div>
            <div class="indexColumn">
                <a href="guitar.html"><img src="guitar.png" alt="Guitar"></a>
                <h2><b>Guitar</b></h2>
            </div>
            <div class="indexColumn">
                <a href="violin.html"><img src="violin.png" alt="Violin"></a>
                <h2><b>Violin</b></h2>
            </div>
        </div>
        <br><br>
    </body>
</html>