<html>
    <head>
        <title>Piano Chords Videos</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    
    <body class="pianoType">
        <div class="nav">
            <ul>
                <a href="select.html"><li>Instrument</li></a>
                <a href="piano.html"><li>Type of learning</li></a>
                <a href="select.html"><li id="logout">Logout</li></a>
            </ul>
        </div>
        <div class="pType">
            <h1>Videos</h1><br>
            <h2>Sorry, at the moment no video lesson is available...</h2>
        </div>
    </body>
</html>