<html>
    <head>
        <title>Piano Chords</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    
    <body class="pianoType">
        <div class="nav">
            <ul>
                <a href="index.html"><li>Instrument</li></a>
                <a href="piano.html"><li>Type of learning</li></a>
                <a href="piano.html"><li id="logout">Logout</li></a>
            </ul>
        </div>
        <div class="pType">
            <h1>Chords</h1><br>
            <h3></h3>
            <img src="pianoChords1.png" style="width: 60%">
            <img src="pianoChords2.png" style="width: 60%">
            <img src="pianoChords3.png" style="width: 60%">
            <img src="pianoChords4.png" style="width: 60%">
            <h4>Read more about it <a href="https://www.schoolofrock.com/resources/keyboard/piano-chords-for-beginners" target="_blank">HERE</a></h4><br>
            <h1><a href="pChordsVid.html">Check for available videos</a></h1>
        </div>
    </body>
</html>