<html>
    <head>
        <title>Piano Scales</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    
    <body class="pianoType">
        <div class="nav">
            <ul>
                <a href="select.html"><li>Instrument</li></a>
                <a href="piano.html"><li>Type of learning</li></a>
                <a href="select.html"><li id="logout">Logout</li></a>
            </ul>
        </div>
        <div class="pType">
            <h1>Scales</h1><br>
            <img src="PianoScales1.png">
            <br><br><br>
            <img src="PianoScales2.png">
            <h4>Read more about it <a href="http://www.piano-keyboard-guide.com/piano-music-scales.html" target="_blank">HERE</a></h4><br>
            <h1><a href="pScalesVid.html">Check for available videos</a></h1>
        </div>
    </body>
</html>