<html>
    <head>
        <title>Piano</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    
    <body class="piano">
        <div class="nav">
            <ul>
                <a href="index.html"><li>Instrument</li></a>
                <a href="piano.html"><li>Type of learning</li></a>
                <a href="piano.html"><li id="logout">Logout</li></a>
            </ul>
        </div>
        <div class="pianoHistory">
            <h1>HISTORY AND BASIC INFORMATION ABOUT THE PIANO</h1>
            <h3>The piano is an acoustic, stringed musical instrument invented in Italy by Bartolomeo Cristofori around the year 1700 (the exact year is uncertain), in which the strings are struck by wooden hammers that are coated with a softer material (modern hammers are covered with dense wool felt; some early pianos used leather). It is played using a keyboard, which is a row of keys (small levers) that the performer presses down or strikes with the fingers and thumbs of both hands to cause the hammers to strike the strings.</h3>
            <img src="pianoScheme.png">
            <p>(1) frame (2) lid, front part (3) capo bar (4) damper (5) lid, back part (6) damper mechanism (7) sostenuto rail (8) pedal mechanism, rods (9, 10,11) pedals: right (sustain/damper), middle (sostenuto), left (soft/una-corda) (12) bridge (13) hitch pin (14) frame (15) sound board (16) string. Read more on <a href="https://en.wikipedia.org/wiki/Piano#Types" target="_blank">Wikipedia</a>.</p>
        </div>
        <br><br>
        <div class="type">
            <h1>SELECT TYPE OF LEARNING</h1>
            <h2><a href="pianoNotes.html">Notes</a></h2>
            <h2><a href="pianoScales.html">Scales</a></h2>
            <h2><a href="pianoChords.html">Chords</a></h2>
        </div>
        <br><br>
    </body>
</html>