<html>
    <head>
        <title>Piano Notes Videos</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    
    <body class="pianoType">
        <div class="nav">
            <ul>
                <a href="index.html"><li>Instrument</li></a>
                <a href="piano.html"><li>Type of learning</li></a>
                <a href="piano.html"><li id="logout">Logout</li></a>
            </ul>
        </div>
        <div class="pType">
            <h1>Videos</h1><br>
            <div class="video">
                <h2>How To Read Notes (Beginner Piano Lesson)</h2>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/gEI7uYOCQXo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br>
                <h3>Author: <a href="https://www.youtube.com/channel/UC_DmCvOP5Q_eBMRDvqqRXjg" target="_blank">Pianote</a></h3>
                <h3>Find them on:<br><a href="http://facebook.com/pianoteofficial/" target="_blank">Facebook</a><br>
                <a href="http://instagram.com/pianoteofficial/" target="_blank">Instagram</a></h3>
            </div>
        </div>
    </body>
</html>