<html>
    <head>
        <title>Piano Scales Videos</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    
    <body class="pianoType">
        <div class="nav">
            <ul>
                <a href="index.html"><li>Instrument</li></a>
                <a href="piano.html"><li>Type of learning</li></a>
                <a href="piano.html"><li id="logout">Logout</li></a>
            </ul>
        </div>
        <div class="pType">
            <h1>Videos</h1><br>
            <div class="video">
                <h2>The First Piano Scale Every Beginner Should Learn - Easy Piano Scales Lesson For Beginners</h2>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/-kVrlQSFrmM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br>
                <h3>Author: <a href="https://www.youtube.com/channel/UCUcKGkY7hhSN_s-_dmPxv9g" target="_blank">Piano Keyboard Guide</a></h3>
            </div>
        </div>
    </body>
</html>