<html>
    <head>
        <title>Violin Scales</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    
    <body class="ViolinType">
        <div class="nav">
            <ul>
                <a href="select.html"><li>Instrument</li></a>
                <a href="violin.html"><li>Type of learning</li></a>
                <a href="select.html"><li id="logout">Logout</li></a>
            </ul>
        </div>
        <div class="vType">
            <h1>Notes</h1><br>
            <img src="violinScale2.png" style="width: 50%">
            <img src="violinScales1.png" style="width: 50%">
            <img src="violinScale3.jpg" style="width: 50%">
            <img src="violinScale4.png" style="width: 50%">
            <img src="violinScale5.png" style="width: 50%">
            <h4>Read more about it <a href="https://violinspiration.com/violin-scales-the-5-most-commonly-used-violin-scales/" target="_blank">HERE</a></h4><br>
            <h1><a href="vScalesVid.html">Check for available videos</a></h1>
        </div>
    </body>
</html>