<html>
    <head>
        <title>Violin</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    
    <body class="violin">
        <div class="nav">
            <ul>
                <a href="index.html"><li>Instrument</li></a>
                <a href="violin.html"><li>Type of learning</li></a>
                <a href="piano.html"><li id="logout">Logout</li></a>
            </ul>
        </div>
        <div class="violinHistory">
            <h1>HISTORY AND BASIC INFORMATION ABOUT THE VIOLIN</h1>
            <h3>The violin, sometimes known as a fiddle, is a wooden chordophone (string instrument) in the violin family. Most violins have a hollow wooden body. It is the smallest and thus highest-pitched instrument (soprano) in the family in regular use. The violin typically has four strings, usually tuned in perfect fifths with notes G3, D4, A4, E5, and is most commonly played by drawing a bow across its strings. It can also be played by plucking the strings with the fingers (pizzicato) and, in specialized cases, by striking the strings with the wooden side of the bow (col legno).</h3>
            <img src="violinScheme.jpg">
            <p>Scheme of a violin.<br><a href="https://hergova.com/restoration.php" target="_blank">Source</a></p>
        </div>
        <br><br>
        <div class="type">
            <h1>SELECT TYPE OF LEARNING</h1>
            <h2><a href="violinNotes.html">Notes</a></h2>
            <h2><a href="violinScales.html">Scales</a></h2>
        </div>
        <br><br>
    </body>
</html>