<html>
    <head>
        <title>Violin Notes Videos</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    
    <body class="violinType">
        <div class="nav">
            <ul>
                <a href="select.html"><li>Instrument</li></a>
                <a href="violin.html"><li>Type of learning</li></a>
                <a href="select.html"><li id="logout">Logout</li></a>
            </ul>
        </div>
        <div class="vType">
            <h1>Videos</h1><br>
            <div class="video">
                <h2>Learn to Read Notes (for Violin) in Less than 5 Minutes!</h2>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/x00oSH7hJew" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br>
                <h3>Author: <a href="https://www.youtube.com/channel/UCtNDCbRhV0vLC35NUnoJq4w" target="_blank">Angela Corbin</a></h3>
                <h2>Comment</h2>
            </div>
        </div>
    </body>
</html>